* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Merriweather", serif;
  font-family: "Mulish", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Sora", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.visible {
  display: none;
}
/* shared */
.section-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.paragraph-text-style {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}
.btn-primary {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border: 0;
}
body button > a {
  color: #fff;
  text-decoration: none;
}

main section {
  width: 80%;
  margin: 0px auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
/* nav style */

nav {
  width: 90%;
  margin: 20px auto;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Travel-company-detailes {
  /* background-color: blue; */
  display: flex;
  justify-content: space-evenly;
  gap: 17px;
  align-items: center;
}

.Travel-company-detailes h3 {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}

.title-design,
.nav-design {
  color: #ff5400;
}
.nav-bar {
  width: 40%;
}
.nav-bar a {
  text-decoration: none;
  color: var(--Dark-02, #424247);
  font-size: 1.125rem;
  font-weight: 400;
}
.nav-bar ul {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-title {
  visibility: visible;
}
.nav-img {
  visibility: hidden;
}
/* banner style */
.banner {
  width: 90%;
  background-color: #ff5400;
  margin: auto;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  border-radius: 16px;
  display: flex;
}

.banner-container {
  /* background-color: #ff5400; */
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.banner-container p {
  /* background-color: aquamarine; */
  margin: auto;
  max-width: 676px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.banner-container h1 {
  font-size: 4rem;

  font-weight: 800;
}

.input-container {
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

.input-box {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  text-align: left;
}
.input-container input {
  text-align: left;
  gap: 16px;
  border: none;
  padding-left: 15px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
}
/* our popular trip */
.Popular-Tours .paragraph-text-style {
  color: #131318;
}
.Popular-Tours {
  width: 80%;
  display: flex;
  /* background-color: steelblue; */
  justify-content: space-between;
  align-items: center;
}

.popular-container {
  /* background-color: #ff5400; */
  max-width: 45%;
}
.list {
  position: relative;
  left: 15px;
  width: 90%;
  justify-content: left;
  margin-top: 24px;
  margin-bottom: 24px;
  /* background-color: beige; */
}

.popular-container .section-title {
  margin-bottom: 24px;
}

.popular-img {
  border-radius: 16px;
}
.popular-container .list ul > li {
  margin-top: 16px;
  margin-bottom: 16px;
}

.popular-container button {
  margin-top: 32px;
}

/* tour destination */
.destination {
  width: 90%;
  text-align: center;
}

.destination p {
  max-width: 643px;
  color: #131318;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 40px;
}
.destination-img-container {
  width: 100%;
  /* background-color: #131318; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  gap: 25px;
}

.image-container {
  position: relative;
  text-align: center;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 28px;
  font-weight: 800;
}
/* Why-choose  us*/
.Why-choose {
  text-align: center;
}

.Why-choose .paragraph-text-style {
  max-width: 643px;
  color: #131318;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 40px;
}
.box {
  width: 500px;
  flex-shrink: 0;
  border-radius: 16px;
  text-align: left;
  padding: 20px;
}
#box-1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

#box-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

#box-3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.box-cont {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box-line-1 {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 25px;
  margin-bottom: 25px;
}

.box-line-2 {
  display: flex;
  justify-content: center;
}
.box-total h3 {
  margin-top: 36px;
}

/* newsletter styles */
.newsletter {
  /* background-color: teal; */
  height: 450px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.news-container {
  width: 70%;
  height: 100vh;
  margin: auto;

  /* background-color: slateblue; */
  padding: 20px;
}

.news-container h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.news-container .paragraph-text-style {
  color: #5a5a5d;
  margin-top: 16px;
  margin-bottom: 24px;
}
.news-container hr {
  margin-bottom: 24px;
  background: rgba(19, 19, 24, 0.1);
}
.newsletter-form-box {
  display: flex;
  width: 474px;
  height: 410px;
  flex-shrink: 0;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 5px;
}

.news-form form > input {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: 0;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 10px;
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-weight: 400;
}
.news-container .btn-primary {
  margin-top: 5px;
  color: #fff;
  width: 102%;
}

.save-up {
  position: relative;
  border-radius: 16px;
  background: #ff5400;
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -170px;
  left: 340px;
}
.save-up h2 {
  font-size: 32px;
  font-weight: 800;
}

.save-up h3 {
  font-size: 24px;
  font-weight: 400;
}
/* Footer */

footer {
  background-color: rgba(19, 19, 24, 0.05);
}
.footer-container {
  width: 70%;
  margin: auto;
  padding-top: 110px;
  padding-bottom: 110px;
  /* background-color: steelblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .paragraph-text-style {
  max-width: 80%;
  text-align: center;
  color: #5a5a5d;
  margin-top: 15px;
}
.social-icon {
  margin-top: 32px;
  margin-bottom: 50px;
  display: flex;
  gap: 25px;
}
.social-icon a {
  color: #131318;
  text-decoration: none;
}
footer hr {
  width: 80%;
  height: 1px;
  background-color: rgba(19, 19, 24, 0.1);
  margin-bottom: 35px;
}
/* responsive for mobile */

@media screen and (max-width: 599px) {
  .nav-title {
    display: none;
  }
  .nav-img {
    visibility: visible;
  }
  .Travel-company-detailes {
    width: 55%;
  }
  .Travel-company-detailes h3 {
    font-size: 21.543px;
    font-style: normal;
    font-weight: 800;
  }

  .input-box {
    width: 255px;
    height: 52px;
    flex-shrink: 0;
    margin-bottom: 10px;
  }
  .input-container {
    position: relative;
    top: -40px;
  }
  .banner-container p {
    margin: auto;
    margin-bottom: 50px;
  }
  .Popular-Tours {
    width: 90%;
    flex-direction: column;
  }
  .popular-container {
    max-width: 100%;
    position: relative;
    top: -30px;
  }
  .image-container {
    width: 90vw;
    height: 176px;
  }
  .image-container img {
    width: 100%;
    height: 100%;
  }
  .box-total {
    width: 90vw;
    position: relative;
    margin: auto;
    left: -25px;
  }
  .box {
    width: 80vw;
    margin: auto;
    padding: 0;
  }
  .box-line-1 {
    width: 90%;
    flex-direction: column;
  }
  .box-line-1 {
    display: flex;
    margin: auto;
    gap: 25px;
    margin-bottom: 25px;
    left: -23px;
  }
  .newsletter {
    width: 90%;
    flex-direction: column;
    /* background-color: teal; */
    margin-bottom: 100px;
  }
  .newsletter-form-box {
    width: 90vw;
    margin: auto;
    height: 410px;
  }
  .newsletter-pic {
    width: 90vw;
    margin-top: 20px;
  }
  .newsletter-pic img {
    width: 100%;
  }
  .save-up {
    left: 170px;
  }
  footer {
    position: relative;
    bottom: -250px;
  }
  .footer-container {
    margin: auto;
    /* background-color: steelblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* responsive for tablet */

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .nav-title {
    display: none;
  }
  .nav-img {
    visibility: visible;
  }
  .Travel-company-detailes {
    width: 55%;
  }
  .Travel-company-detailes h3 {
    font-size: 21.543px;
    font-style: normal;
    font-weight: 800;
  }

  .input-box {
    width: 255px;
    height: 52px;
    flex-shrink: 0;
    margin-bottom: 10px;
  }
  .input-container {
    position: relative;
    top: -40px;
    display: flex;
    flex-direction: column;
  }
  .banner-container p {
    margin: auto;
    margin-bottom: 50px;
  }
  .Popular-Tours {
    width: 90%;
    flex-direction: column;
  }
  .popular-container {
    max-width: 100%;
    position: relative;
    top: -30px;
  }
  .image-container {
    width: 90vw;
    height: 176px;
  }
  .image-container img {
    width: 100%;
    height: 100%;
  }
  .box-total {
    width: 90vw;
    position: relative;
    margin: auto;
    left: -25px;
  }
  .box {
    width: 80vw;
    margin: auto;
    padding: 0;
  }
  .box-line-1 {
    width: 90%;
    flex-direction: column;
  }
  .box-line-1 {
    display: flex;
    margin: auto;
    gap: 25px;
    margin-bottom: 25px;
    left: -23px;
  }
  .newsletter {
    width: 90%;
    flex-direction: column;
    /* background-color: teal; */
    margin-bottom: 100px;
  }
  .newsletter-form-box {
    width: 90vw;
    margin: auto;
    height: 410px;
  }
  .newsletter-pic {
    width: 90vw;
    margin-top: 20px;
  }
  .newsletter-pic img {
    width: 100%;
  }
  .save-up {
    left: 550px;
  }
  footer {
    position: relative;
    bottom: -500px;
  }
  .footer-container {
    margin: auto;
    /* background-color: steelblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
